# Python cache
__pycache__/
*.pyc
*.pyo
*.csv

# Service account credentials (never commit these!)
service_account.json

scrapper.js
config.json
actions.json
*.xlsx
custom_script/*
!custom_script/download_sheet.py